body {
  margin: auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 900px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
